<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>我的朋友圈</h1>
                <p></p>
            </div>
        </div>
        <div class="row">
            {% for item in friends_data%} {% if item.dis_code == 2 %}
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="{{ item.image_url }}" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">{{ item.surname }}</span> {{ item.name }}</h4>
                    <p>{{ item.content }} </p>
                    <!--<ul class="list-inline social-icon">
                        <li><a href="landing.html#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="landing.html#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="landing.html#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>-->
                </div>
            </div>

            {% else %}
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="{{ item.image_url }}" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">{{ item.surname }}</span> {{ item.name }}</h4>
                    <p>{{ item.content }} </p>
                    <!--<ul class="list-inline social-icon">
                        <li><a href="landing.html#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="landing.html#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="landing.html#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>-->
                </div>
            </div>
            {% endif%} {% endfor %}


        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p> </p>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>留言</h1>
                <p> 把你想要表达的事情发送给我吧。 </p>
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group"><label class="col-sm-2 control-label ">姓名</label>
                                <div class="col-sm-10"><input type="text" class="form-control user-name"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label ">电话</label>
                                <div class="col-sm-10"><input type="text" class="form-control user-mobile">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">内容</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control user-content">

                                    </textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 ">
                                    <button class="btn btn-primary submit-content">给我留言</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>