<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>联系方式</h1>
                <p>contact information</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <address>
                    <strong><span class="navy">liuyu.</span> Tantis</strong><br/>
                   
                    <abbr title="Phone">13710885997</abbr> 
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    {{ content }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:showmove@qq.com" class="btn btn-primary">对我发送邮件</a>
                <p class="m-t-sm">

                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>友情链接</h1>
                {% for item in work_link%}
                <a href="{{item.link}}" class="btn"> {{ item.name }}</a> {% endfor %}
            </div>


            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">


                <ul class="list-inline">
                    <li> <a><i class="fa fa-weixin"></i></a></li>
                    <li>
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=545689795&site=qq&menu=yes">
                            <i class="fa fa-qq"></i></a>
                    </li>
                </ul>



                <p><strong>&copy; 2017 liuyu.info </strong><br/> 感谢您的到来.</p>
            </div>
        </div>
    </div>
</section>


<span style="display: none!important">
         <script src="https://s95.cnzz.com/z_stat.php?id=1260774712&web_id=1260774712" language="JavaScript"></script>
</span>

<!-- Mainly scripts -->
<script src="static/js/jquery-2.1.1.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="static/js/inspinia.js"></script>
<script src="static/js/plugins/pace/pace.min.js"></script>
<script src="static/js/plugins/wow/wow.min.js"></script>
<script src="static/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="static/js/jquery-powerfloat-min.js"></script>

<script>
    $(document).ready(function() {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
            header = document.querySelector('.navbar-default'),
            didScroll = false,
            changeHeaderOn = 200;

        function init() {
            window.addEventListener('scroll', function(event) {
                if (!didScroll) {
                    didScroll = true;
                    setTimeout(scrollPage, 250);
                }
            }, false);
        }

        function scrollPage() {
            var sy = scrollY();
            if (sy >= changeHeaderOn) {
                $(header).addClass('navbar-scroll')
            } else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }

        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    $('body').delegate('.submit-content', 'click', function() {

        data = {
            name: $('.user-name').val(),
            mobile: $('.user-mobile').val(),
            msg: $('.user-content').val()
        }
        console.log(data);
        $.ajax({
            url: '/api/opeartion/',
            type: 'post',
            dataType: 'json',
            headers: {
                "Content-Type": 'application/json,charset=utf-8',
                'Accept': 'application/json'
            },
            data: JSON.stringify(data),
            success: function(res) {
                console.log('新增文章');
                console.log(res);

                if (res.status == 200) {
                    swal({
                        title: "提示",
                        text: res.msg,
                        type: "success"
                    });

                } else {
                    swal({
                        title: "提示",
                        text: res.msg,
                        type: "warning"
                    });
                }
            }

        });


    });
    // Activate WOW.js plugin for animation on scrol
    new WOW().init();


    setInterval(function() {
        //$('#message_box').fadeOut(1000);
        $.ajax({
            url: '/api/opeartion/',
            type: 'get',
            dataType: 'json',
            success: function(res) {
                $('#message_box').fadeOut(1000, function() {
                    $('#message_box').html(res.msg.content);
                    if ($('#message_box').html() == res.msg.content) {
                        $('#message_box').slideDown(1000);
                    }

                });

            }
        });

    }, 5000);

    $(".fa-weixin").powerFloat({
        targetMode: "ajax",
        target: function() {
            return '{{ weixin_image }}';
        },
        hoverHold: false,
        position: "5-7"
    });
</script>

</html>